<header>
    <nav class="navbar">
        <a href="" class="navbar-logo">
            <img src="assets/images/CineLogo.png" alt="" />
        </a>
        <ul class="navbar-links">
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Filmes</a>
            </li>
            <li>
                <a href="">Series</a>
            </li>
            <li>
                <a href="">Generos</a>
            </li>
        </ul>


    </nav>
</header>
