<header>
    <nav class="navbar">
        <a href="" class="navbar-logo">
            <img src="assets/images/CineLogo.png" alt="" />
        </a>
        <ul class="navbar-links">
            <li>
                <a routerLink='/'>Inicio</a>
            </li>
            <li>
                <a  routerLink='/movies'>Filmes</a>
            </li>
            <li>
                <a routerLink='/tvshows'>Series</a>
            </li>
            <li>
                <a routerLink='/genres'>Generos</a>
            </li>
        </ul>


    </nav>
</header>
