<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/neMZH82Stu91d3iqvLdNQfqPPyl.jpg" alt="">
        </div>
        <div class="slide-pane">
            <h2 class="name">The Lost City</h2>
            <div class="meta">
                <div class="info">
                    <span class="rating">
                        <span>star</span>
                        <span class="rating-value">7.5</span>
                        <span>/10</span>
                    </span>
                    <span>463 Reviews</span>
                    <span>2022</span>
                </div>
            </div>
            <div class="description">
                A reclusive romance novelist was sure nothing could be worse than getting stuck on a book tour with her cover model until a kidnapping attempt sweeps them both into a cutthroat jungle adventure, proving life can be so much stranger, and more romantic, than any of her paperback fictions.
            </div>
        </div>

    </div>
</div>
